* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #c5e4e7;
  margin: 0;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  letter-spacing: 9px;
  margin-left: 9px;
  margin-top: 19px;
  color: #5e7a7d;
}

.calculator {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 2.5rem 2rem 1.5rem;
  border-radius: 1.5rem;
  width: 60.5%;
  position: relative;
  top: 56px;
}

.calculator__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 46%;
}

.calculator__leftside label {
  color: #7f9c9f;
  margin: 12px 0;
}

.calculator__leftside label .people__label {
  margin-top: 2rem;
}

.calculator__field {
  background-color: #f4fafa;
  border: none;
  border-radius: 0.2rem;
  font-size: 24px;
  font-family: inherit;
  text-align: right;
  margin-bottom: 1rem;
  padding: 0.25rem 1rem 0.25rem;
}

.calculator__field:focus {
  outline-color: #26c0ab;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.percentage {
  background-color: #00494d;
  padding: 0.3rem 0;
  font-size: 24px;
  width: 32.5%;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.percentage span {
  color: white;
}

.percentage:hover {
  background-color: #c5e4e7;
}

.percentage:hover span {
  color: #00494d;
}

input[type=radio] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=radio]:checked + label {
  background-color: #26c0ab;
}

input[type=radio]:checked + label span {
  color: #00494d;
}

#customPercent {
  margin-bottom: 0;
  width: 32.5%;
}

.calculator__rightside {
  background-color: #00494d;
  padding: 2rem 3rem;
  border-radius: 1rem;
  width: 48.3%;
  position: relative;
  left: 17px;
  bottom: 9px;
}

.calculator__rightside .output__container:nth-child(1) {
  margin-top: 1rem;
}

.calculator__rightside .output__container:nth-child(2) {
  margin-top: 2.5rem;
}

.output__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description {
  font-size: 15px;
}

.description p {
  color: white;
  margin: 0;
}

.description .per-person {
  color: #7f9c9f;
  font-size: 13px;
}

.output {
  font-size: 48px;
  color: #26c0ab;
}

#reset__btn {
  background-color: #26c0ab;
  color: #00494d;
  font-family: inherit;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 0.2rem;
  margin-top: 9rem;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#reset__btn:hover, #reset__btn:active {
  background-color: #c5e4e7;
}

footer {
  padding: 1rem 0;
  margin: 1rem 0;
  text-align: center;
}

footer .attribution {
  color: white;
}

footer .attribution a {
  color: #00494d;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer .attribution a:hover {
  color: #26c0ab;
}

@media (max-width: 800px) {
  .calculator {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */