$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: $light-grayish-cyan;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 127px;
}

h1 {
    font-size: 24px;
    letter-spacing: 9px;
    margin-left: 9px;
    margin-top: 19px;
    color: $dark-grayish-cyan;
}

.calculator {
   background-color: $white;
  // background-color: red;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem 2rem 1.5rem;
    border-radius: 1.5rem;
    width: 60.5%;
    height: 479px;
    position: relative;
    top: 66px;
}

.calculator__leftside {
    display: flex;
    flex-direction: column;
    width: 46%;
    padding-right: 16px;

    label {
        color: $grayish-cyan;
        margin: 12px 0;

        .people__label {
            margin-top: 2rem;
        }
    }
}

.calculator__field {
    color: $very-dark-cyan;
    background-color: $very-light-grayish-cyan;
    border-color: transparent;
    border-radius: 0.2rem;
    font-size: 24px;
    font-family: inherit;
    text-align: right;
    margin-bottom: 1rem;
    padding: 0.25rem 1rem 0.25rem;
    width: 100%;

    &:focus {
        outline-color: $strong-cyan;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
}

.percentage {
    background-color: $very-dark-cyan;
    padding: 0.3rem 0;
    font-size: 24px;
    width: 32.5%;
    text-align: center;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease;

    span {
        color: $white;
    }

    &:hover {
        background-color: $light-grayish-cyan;
        span {
            color: $very-dark-cyan;
        }
    }

}

input[type=radio] {
    position: absolute;
    appearance: none;

    &:checked + label {
        background-color: $strong-cyan;
        span {
            color: $very-dark-cyan;
        }

    }

}

#customPercent {
    margin-bottom: 0;
    width: 32.5%;

}

.calculator__rightside {
    background-color: hsl(183, 100%, 15%);
    padding: 2rem 2.4rem;
    border-radius: 1rem;
    width: 48.3%;
    position: relative;
    left: 17px;
    bottom: 9px;

    .output__container:nth-child(1) {
        margin-top: 1rem;
    }

    .output__container:nth-child(2) {
        margin-top: 2.5rem;
    }
}

.output__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    font-size: 15px;

    p {
        color: $white;
        margin: 0;
    }

    .per-person {
        color: $grayish-cyan;
        font-size: 13px;
    }
}

.error-message {
    color: #f05138;
    display: none;
    margin: 12px 0;
}

.error {
    border: 2px solid #f05138;
    outline-color: #f05138 !important;
}

.output {
    overflow-x: hidden;
    max-width: 222px;
    font-size: 48px;
    color: $strong-cyan;
}

#reset__btn {
    background-color: $strong-cyan;
    color: $very-dark-cyan;
    font-family: inherit;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 0.2rem;
    margin-top: 6.3rem;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover,
    &:active {
        background-color: $light-grayish-cyan;
    }

    &:disabled {
        color: #045d63;
        background-color: #0d686d;
        cursor: default;
    }
}



footer {
    padding: 1rem 0;
    margin: 4rem 0;
    text-align: center;


    .attribution {
        color: $white;
        
        a {
            color: $very-dark-cyan;
            text-decoration: none;
            transition: all 0.2s ease;

            &:hover {
                color: $strong-cyan;
            }
        }
    }
}

.field-container {
    position: relative;
    width: 100%;
}

.dollar,
.peoplesign {
    position: absolute;
    top: 15px;
    left: 15px;
}

@media (max-width: 800px) {

    .calculator {
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .calculator__leftside,
    .calculator__rightside {
        width: 100%;
        left: 0;
    }

    footer {
        margin-top: 5rem;
        width: 90%;
        text-align: center;
    }   
}