* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {

}

h1 {

}

.calculator {

}

.calculator__leftside {

}

.calculator__rightside {
    background-color: hsl(183, 100%, 15%);
}